html,
body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
}

input {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
}

label {
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
}

#container {
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background: #551e2d;
}

#search {
    display: flex;
    padding: 20px;
    background: #095b53;
}

#search label {
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
}

#results {
    display: block;
    padding: 10px;
}

#results .name {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background: #fff;
    margin-bottom: 10px;
    list-style-type: none;
}